body {
  background: black;
  padding: 20px;
  text-align: center;
}
.App {
  background: white;
  padding: 30px;
  border: 10px solid brown;
}
table {
  border-spacing: 5px;
  margin: auto;
}
td {
  text-align: center;
  border: 1px solid black;
  padding: 3px;
  background: black;
  font-family: monospace;
  color: white;
}

.nav {
  display: block;
  border-bottom: 1px solid brown;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.nav a {
  margin-right: 20px;
}

h1,h2{
  color: brown;
}

.horizontal-array {
  display: block;
  border: 2px solid black;
  padding: 5px;
  background: silver;
}

.horizontal-array span {
  background: black;
  padding: 3px;
  margin: 2px;
  color: white;
  font-family: monospace;
}
